@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.7379 0.1375 158.3663);
  --card: oklch(0.1776 0 0);
  --card-foreground: oklch(0.7379 0.1375 158.3663);
  --popover: oklch(0.1448 0 0);
  --popover-foreground: oklch(0.7379 0.1375 158.3663);
  --primary: oklch(0.7379 0.1375 158.3663);
  --primary-foreground: oklch(0.1448 0 0);
  --secondary: oklch(0.2393 0 0);
  --secondary-foreground: oklch(0.7379 0.1375 158.3663);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.8391 0.0845 162.4811);
  --accent: oklch(0.2393 0 0);
  --accent-foreground: oklch(0.7379 0.1375 158.3663);
  --destructive: oklch(0.7202 0.0900 65.0147);
  --destructive-foreground: oklch(0.1448 0 0);
  --border: oklch(0.4792 0.0659 160.7243);
  --input: oklch(0.2178 0 0);
  --ring: oklch(0.7379 0.1375 158.3663);
  --chart-1: oklch(0.7379 0.1375 158.3663);
  --chart-2: oklch(0.7704 0.1212 159.6372);
  --chart-3: oklch(0.8043 0.1030 161.3840);
  --chart-4: oklch(0.8391 0.0845 162.4811);
  --chart-5: oklch(0.8750 0.0653 163.4722);
  --sidebar: oklch(0.1776 0 0);
  --sidebar-foreground: oklch(0.7379 0.1375 158.3663);
  --sidebar-primary: oklch(0.7379 0.1375 158.3663);
  --sidebar-primary-foreground: oklch(0.1448 0 0);
  --sidebar-accent: oklch(0.2393 0 0);
  --sidebar-accent-foreground: oklch(0.7379 0.1375 158.3663);
  --sidebar-border: oklch(0.4792 0.0659 160.7243);
  --sidebar-ring: oklch(0.7379 0.1375 158.3663);
  --font-sans: Roboto Mono, monospace;
  --font-serif: serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.50), 0px 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.50), 0px 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.50), 0px 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.50), 0px 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 1.25);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: 0rem;
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
